<!-- Partials come in handy when you want to reuse the same HTML across multiple views. -->
<footer style="left: 0px; bottom: 0; right: 0px; background-color:#cce5ff; width: 100%; border-color: #b8daff; border: 1px solid transparent; border-radius: .25erm;">
    <p style="text-align-last: right;"></p>
</footer>
