<!-- Partials come in handy when you want to reuse the same HTML across multiple views. -->

<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-left">
            <li role="presentation"><a href="/"><u>Back to Home</u></a></li>
        </ul>
    </nav>
</div>
